<!DOCTYPE html>

<h1>Edit your category $category.getName():</h1>

<form action="/categories/$category.getId()/edit-cat" method="post">
  <label for="name">New Category</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Submit</button>
</form>
